## Get latitude and longitude for Toronto postal codes

In [31]:
# Import libraries
import pandas as pd
import numpy as np

In [33]:
#read the cleaned csv data
df = pd.read_csv('Cd_Neighborhood.csv')

In [34]:
df.head()

   Unnamed: 0 PostalCode      Borough                            Neighborhood
0           0        M1B  Scarborough                          Rouge, Malvern
1           1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2           2        M1E  Scarborough       Guildwood, Morningside, West Hill
3           3        M1G  Scarborough                                  Woburn
4           4        M1H  Scarborough                               Cedarbrae

In [35]:
#Drop the unwanted column
df.drop('Unnamed: 0', axis =1, inplace = True)
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

#### Had to use the geospatial coordinate file because geocode google failed to work

In [36]:
#Read the location file
geo_df = pd.read_csv('Geospatial_Coordinates.csv')

In [37]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [38]:
#Add the lat and long from the geo file to the neighborhood data
df[['Latitude', 'Longitude']] = geo_df[['Latitude', 'Longitude']]

In [39]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [40]:
df.shape

(103, 5)

In [41]:
df.to_csv('Cd_hood_withLocs.csv')